<header class="header">

  <div class="header__left-block">  
    <img class="logo" src="../images/logo.png" />
  </div>

  <div class="header__center-block">
    <ul class="menu">
      <li class="menu__item"><a>Почему Teachbase</a></li>
      <li><a>Решения</a></li>
      <li><a>Тарифы</a></li>
      <li><a>Журнал</a></li>
      <li><a>Библиотека курсов</a></li>
    </ul>
  </div>

  <div class="header__right-block">  
    
    <div class="contact-phone">+7 (495) 660-38-43</div>
    <div class="header-btn">
      <button class="btn btn_colored">Попробовать демо</button>
    </div>

    <a class="login-link">Войти</a>
  </div>

</header>