<div class="theme theme_three">
  <div class="container">

    <div class="promo-block flex">

      <div class="promo-block__left-part">
        <div class="banner">
          <img src="../images/banner.svg" />
        </div>
        <span>на рынке онлайн-обучения</span>
        <div class="logos flex">
          <img src="../images/01.png" />
          <img src="../images/02.png" />
          <img src="../images/03.png" />
          <img src="../images/04.png" />
          <img src="../images/05.png" />
          <img src="../images/06.png" />
          <img src="../images/07.png" />
          <img src="../images/08.png" />
          <img src="../images/09.png" />
          <img src="../images/10.png" />
          <img src="../images/11.png" />
          <img src="../images/12.png" />
        </div>
      </div>

      <div class="promo-block__right-part">
        <div class="slider">
          <div class="slider__item"><img src="../images//slider_item.png" /></div>
          <div class="slider__item"><img src="../images//slider_item.png" /></div>
          <div class="slider__item"><img src="../images//slider_item.png" /></div>
        </div>
      </div>

    </div>
  </div>
</div>