$white: #fff;
$black: #000000;
$gray: #848484;
$dark-gray: #292933;
$dark-gray-text: rgba(41, 41, 51, 0.8);

$primary-gradient: linear-gradient(180deg, #F88858 0%, #F1AD8F 0.01%, rgba(255, 97, 47, 0.71) 100%);