@import 'vars';
@import 'fonts';
@import 'global';
@import 'header';

.theme_one {
  background-image: url('../images/background_1.svg');
  background-position: right;
  min-height: 800px;
  background-position-y: center;
  padding: 120px 0;

  .promo-block {
    justify-content: space-between;
  }

  .promo-block__left-part {
    margin-left: 15px;
    width: 40%;

    .h1 {
      margin-bottom: 30px;
    }

    .buttons {
      margin-top: 50px;
      display: flex;
      height: 54px;

      & > button {
        &:first-child {
          width: 224px;
          margin-right: 22px;
        }

        &:last-child {
          width: 210px;
        }
      }
    }
  }

  .promo-block__right-part {
    width: 50%;
    position: relative;

    .graph {
      position: absolute;
      bottom: 10px;
    }
  }
}

.theme_two {
  background-image: url('../images/background_2.svg');
  background-size: cover;
  min-height: 855px;

  .promo-block {
    justify-content: space-around;
    align-items: center;

    .promo-block__left-part {
      width: 43%;

      .book-pic {
        margin-top: -65px;
      }
    }

    .promo-block__right-part {
      width: 45%;

      h2, p {
        max-width: 504px;
      }

      h2 {
        margin-bottom: 28px;
      }

      p {
        font-weight: 400;
        line-height: 24px;
        color: $dark-gray;
        margin-bottom: 43px;
      }

      .loading-form {
        display: flex;

        input {
          width: 380px;
          height: 50px;
          border: 1px solid #C7C7C7;
          margin-right: 20px;
        }

        .btn {
          width: 220px;
          height: 50px;
          font-size: 14px;
        }
      }
    }
  }
}

.theme_three {
  background-image: url('../images/background_3.svg');
  background-position: right;
  min-height: 750px;
  padding: 120px 0;

  .promo-block {
    justify-content: space-between;

    .promo-block__left-part {
      width: 50%;

      .banner {
        margin-bottom: 24px;
      }

      span {
        display: block;
        font-size: 20px;
        line-height: 31px;
        font-weight: 400;
        color: $dark-gray;
        margin-bottom: 28px;
        margin-left: 20px;
      }

      .logos {
        display: flex;
        flex-wrap: wrap;

        img {
          opacity: 0.5;
        }
      }

    }

    .promo-block__right-part {
      width: 40%;

      .slider {

        .slick-arrow {
          &:before {
            color: #3CD679;
          }
        }

        .slick-dots li {
          button {
            &:before { 
              font-size: 8px;
            }
          }
          
          &.slick-active button {
            &:before { 
              color: #3CD679;
            }
          }
        }
      }
    }
  }
}


@import 'media';